.inner-place {
    @apply absolute left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.custom-text-black {
    @apply text-black text-2xl font-bold text-center w-full
}

.custom-text-white {
    @apply text-white text-2xl font-bold text-center w-full
}

.benefit-ellipse {
    min-width: 100px;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    border: 3px solid white;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.button {
    border-radius: 35px;
    padding: 2rem 4rem;
    background-color: white;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}